[user]
	name = Jarrell Waggoner
	email = jarrell.waggoner@rallyhealth.com

[alias]
        s = status -s -uno 
        gl = log --oneline --graph

[branch]
	autosetuprebase = never
[push]
	default = simple
