[submodule "personal"]
	path = personal
	url = git@github.com:malloc47/personal.git
[submodule "config/.emacs.d/packages/ob-mermaid"]
	path = config/.emacs.d/packages/ob-mermaid
	url = git@github.com:malloc47/ob-mermaid.git
