set show-all-if-ambiguous on
#set editing-mode vi
set editing-mode emacs
#set keymap vi
set keymap emacs

set convert-meta on

"\ep": history-search-backward
"\en": history-search-forward

set echo-control-characters off

$if Bash
"\M-x": "term-do\C-M"
"\M-z": "term-do -r\C-M"
$endif
